:host{
  display: flex;
  width: 600px;
  min-height: 80px;
  max-height: 400px;
  padding: 20px;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 6px;
  background-color:  whitesmoke;
}

.search-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.input-search-block{
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.input-search-block input{
  font-size: 18px;
}

.input-search-block .progress-spinner{
  display: inline-flex;
  margin-right: 10px
}

.result-search-block{
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  overflow: auto;
}
.result-search-block::-webkit-scrollbar {
  width: 10px;
}
.result-search-block::-webkit-scrollbar-track {
  background-color: rgba(0,0,0, 0.1);
}
.result-search-block::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0, 0.1);
  border-radius: 10px;
  border: 3px solid rgba(0,0,0, 0.3);
}

.result-search-block .not-found{
  text-align: center;
}

.result-search-list{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.result-search-item{
  padding-left: 4px;
  font-size: 16px;
  border-bottom: 1px solid gainsboro;
}
.result-search-item p {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 200%;
  vertical-align: middle;
  overflow: hidden;
}
.result-search-item :hover{
  cursor: pointer;
  background-color: rgba(0,0,0, 0.1);
}

.result-search-item:focus{
  background-color: rgba(0,0,0, 0.1);
}
