
<div class="search-section">

  <div class="input-search-block">
    <mat-form-field class="input-search">
      <mat-label>Enter text to search</mat-label>
      <input
        matInput
        type="text"
        autofocus
        [formControl]="searchInputControl"
        (keyup.arrowDown) ="focusResultFirstItem()"
      >
      <mat-spinner matSuffix class="progress-spinner" [diameter]="22" *ngIf="isLoading" ></mat-spinner>
      <mat-error *ngIf="searchInputControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field
      *ngIf="searchBy === 'db' && searchFields"
      class="input-search-filter"
      appearance="fill">
      <mat-label>Search filter</mat-label>
      <mat-select [formControl]="searchFieldSelectionControl" multiple>
        <mat-option *ngFor="let searchField of searchFields" [value]="searchField">{{searchField}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <ng-container *ngIf="isSelectedItem">

    <div #searchBlock class="result-search-block">

      <div #searchResult class="result-search-list" >

        <ng-container *ngIf="searchBy === 'db'">
          <div class="result-search-item"
               *ngFor="let searchItem of resultSearchDbList | searchByDb : searchInputControl.value : searchFieldSelectionControl.value; let i = index"
               [attr.index] = i
               (click)="selectByClick(searchItem.firstName + ' ' + searchItem.lastName)"
               (keydown)="selectByKey($event, searchItem.firstName + ' ' + searchItem.lastName)"
          >
            <p>
              {{searchItem.firstName}}
              {{searchItem.lastName}}
              <span *ngFor="let searchResultItem of searchFieldSelectionControl.value">
                ({{searchResultItem}}: <span [innerHTML] = "searchItem[searchResultItem] | highlight :  searchInputControl.value"></span>)
              </span>
            </p>

          </div>

        </ng-container>

        <ng-container *ngIf="searchBy === 'api'">
          <div class="result-search-item"
               *ngFor="let searchItem of resultSearchList; let i = index"
               [attr.index] = i
               (click)="selectByClick(searchItem.title)"
               (keydown)="selectByKey($event, searchItem.title)"
          >
            <p>{{searchItem.title}}</p>
          </div>
        </ng-container>

      </div>

      <div class="not-found" *ngIf="!searchResult.firstElementChild">
        <p>text not found</p>
      </div>
    </div>
  </ng-container>

</div>

